
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}
.main-bg-color {
    /*background-color: #a488a6;*/
    /*background-color: #000000;*/
    background-image: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
}

.reverse-main-bg-color {
    /*background-color: #a488a6;*/
    /*background-color: #000000;*/
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

input:focus{
    /*border-color: #a488a6;*/
    border-color: #000000;
    outline: 0;
}

.white-bg {
    /*background-color: #ffffff;*/
    color: #ffffff;
}

.main-font-color {
    color: #fff;
}

.w100 {
    width: 100%;
}

table.data-table tr:odd {
    background: #dcebff;
}

table.data-table td {
    line-height: 24px;
    padding: 3px;
    vertical-align: top;
}

table.data-table th {
    height: 50px;
    line-height: 50px;
    padding: 3px;
    font-size: 20px;
    text-align: left;
}

table.data-table .colspan-a {
    width: 35%;
}

table.data-table .colspan-b {
    width: 25%;
}

table.data-table .colspan-c {
    width: 40%;
}

table.data-table td pre {
    display: block;
    padding: 5px;
    border: 1px solid #00caff;
    background: #f8fcff;
    text-align: left;
}

.date-tiem-span, .date-s-span {
    display: inline-block;
    font-size: 18px;
    width: 36px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}

.date-tiem-span {
    background: #333;
}

.date-s-span {
    background: #f00;
}

.activity-time {
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

.icon {
    width: 30px;
    vertical-align: bottom
}

.players {
    margin-top: 10px;
    margin-bottom: 10px;
}

.players li {
    width: 50%;
    display: inline-block;
    padding-top: 10px;
}

.players li:nth-child(2n+1) {
    float: left;
    padding-left: 0;
    padding-right: 10px;
}

.players li div {
    position: relative;
}

.player-photo {
    text-align: center;
    height: 160px;
    background-repeat: no-repeat;
    background-size: cover;
}

.player-photo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.players li div p {
}

@media screen and (min-width: 1000px) {
    body {
        width: 900px;
        margin: 0 auto;
    }
    .player-photo {
        height: 360px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 720px) {
    /*body {*/
    /*width: 600px;*/
    /*margin: 0 auto;*/
    /*}*/
    .player-photo {
        height: 360px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.players li span {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
}

.players li p {
    height: 40px;
    padding: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.search-inp {
    width: 100%;
    height: 43px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
    /*margin-right: 10px;*/
}

.search-btn {
    width: 100%;
    height: 43px;
}

.statics {
    /*border-top: 4px solid #eee;*/
    /*border-bottom: 4px solid #eee;*/
    margin: 10px 0;
    text-align: center
}

.statics-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content img {
    width: 100%;
}

.gift-photo {
    position: relative;
}

.gift-item {
    border: 1px solid #eeeeee;
    text-align: center;
    color: green;
    margin: 2px;
    padding: 5px;
}

.gift-item p {
    margin-bottom: 4px;
}

.gift-photo span {
    position: absolute;
    top: 0;
    left: 0;
}